body{
background: rgb(84,170,254);
background: linear-gradient(90deg, rgba(84,170,254,1) 0%, rgba(33,211,212,1) 100%);
}
.card:hover{
	box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
  cursor: pointer;
}
.card{
	width: 330px;
	/*height: 450px;*/
	margin:100px auto;
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 12px 0px rgba(50, 50, 50, 0.75);
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 60px 0;
	transition: box-shadow 0.1s, transform 0.1s;
	transition: margin ease-in .5s;
}
.picture
{
	width: 120px;
	height: 120px;
	border-radius: 60px;
	position: absolute;
	left: calc(50% - 60px);
	top:-60px;
	background-color: #fff;
	background-image: url("man.jpg");
	background-size: cover;
	background-position: 0px -10px;
}
.pro{
	border:2px solid #f7c934;
	padding: 5px 10px;
	position: absolute;
	left:20px;
	top:20px;
	color: #f7c934;
	border-radius: 20px;
	font-size: 12px;
	font-weight: bold;
}

.dots{
	position: absolute;
	right: 15px;
	top:10px;
	/*border:1px solid red;*/

}
.dots a i {
	color:#d5d5d5;
	font-size: 40px;
}
.card h2
{
	font-size: 27px;
	font-weight: 300;
	color:#262626;
	margin: 10px 0;
}

.card h4
{
	color: #9da0a1;
	margin: 5px 0;
}
.card p 
{
	color: #9da0a1;
	line-height: 24px;
	margin: 10px 20px;
}
.icons{
	width: 100%;
	margin: 30px 0 ;
}
.icons .icon{
	width: 20px;
	height: 20px;
	margin-right: 20px;
	display: inline-block;
}
.icons .insta
{
	background: url('social_icons.png') no-repeat -10px -7px;
}
.icons .tw
{
	background: url('social_icons.png') no-repeat -52px -8px;
}
.icons .earth
{
	background: url('social_icons.png') no-repeat -95px -6px;
}

.numbers
{
	width: 100%;
	margin: 30px 0;
}
.numbers>div
{
	display: inline-block;

}
.numbers>div>span{
	width: 100%;
	display: block;
	margin-right: 40px;
}
.numbers .number
{
	font-size:20px;
	font-weight: bold;
	color:#55a9ff;
}
.numbers .title{
	color:#a0a3a4;
	font-size: 14px;
}
a.button
{
	padding: 20px;
	border-radius: 10px;
	width: 200px;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	background-color: #55a9ff;
	transition: all ease-in .2s;
}
a.button:hover
{
	box-shadow: 0px 0px 13px rgba(0,0,0, 0.6);
	background-color: #0B71DA;

} 